<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<script type="text/javascript" src="js/angular-all.js"></script>
		<script>
			var app = angular.module('OptionApp', []);
			app.controller('OptionCtrl', ['$scope',
				function($scope) {
					$scope.seleted = '';
					$scope.animals = [{
						id: '00001',
						name: '猫',
						sex: '雌',
						food: '鱼',
						favor: '玩球',
						//name: '安徽',
						/*subCity: [{
							name: '安庆',
							subStore: [{
								name: '安庆安晟机场路店'
							}]
						}],*/
					}, {
						id: '00002',
						name: '狗',
						sex: '雄',
						food: '骨头',
						favor: '接盘子'
					}, {
						id: '00003',
						name: '兔',
						sex: '雌',
						food: '胡萝卜',
						favor: '刨洞'
					}, {
						id: '00004',
						name: '狮',
						sex: '雄',
						food: '肉',
						favor: '猎物'
					}];
				}
			]);
		</script>
		<div ng-app="OptionApp" ng-controller="OptionCtrl">
			<select ng-model="seleted" ng-options="a.name for a in animals">
				<option value="">请选择你的萌宠</option>
			</select>

			<select ng-model="seleted" ng-options="(a.name + '爱吃' + a.food) for a in animals">
				<option value="">请选择你的萌宠</option>
			</select>

			<select ng-model="seleted" ng-options="(a.name + '的爱好是' + a.favor) group by a.sex for a in animals">
				<option value="">请选择你的萌宠</option>
			</select>
			<!--<select ng-model="seleted" ng-options="(a.subCity in animals">
				<option value="">请选择你的萌宠</option>
			</select>-->
			<select ng-model="seleted" ng-options="a.name for a in animals">
				<option value="">请选择</option>
			</select>

			<select ng-model="seleted" ng-options="a.name group by a.sex for a in animals">
				<option value="">请选择</option>
			</select>

		</div>
		<!--
			第一种情况：for array data sources
			label for value in array                  // labe是a.name value是a a是json数组入面的对象 animals是json数组 a。name是json数组入面的对象的值
  select as label for value in array                  // 等同于 label for value in array
			label group by group for value in array   // group就是例如a.sex 再选一个对象的值，作为分类依据
  select as label group by group for value in array   // 等同于label group by group for value in array
  
                                         第二种情况：for object data sources
		-->
		<script>
		//三级联动的js写法
			var addressInit = function(_cmbProvince, _cmbCity, _cmbArea, defaultProvince, defaultCity, defaultArea) {
				var cmbProvince = document.getElementById(_cmbProvince);
				var cmbCity = document.getElementById(_cmbCity);
				var cmbArea = document.getElementById(_cmbArea);

				function cmbSelect(cmb, str) {
					for (var i = 0; i < cmb.options.length; i++) {
						if (cmb.options[i].value == str) {
							cmb.selectedIndex = i;
							return;
						}
					}
				}

				function cmbAddOption(cmb, str, obj) {
					var option = document.createElement("OPTION");
					cmb.options.add(option);
					option.innerHTML = str;
					option.value = str;
					option.obj = obj;
				}

				function changeCity() {
					cmbArea.options.length = 0;
					if (cmbCity.selectedIndex == -1) return;
					var item = cmbCity.options[cmbCity.selectedIndex].obj;
					for (var i = 0; i < item.areaList.length; i++) {
						cmbAddOption(cmbArea, item.areaList[i], null);
					}
					cmbSelect(cmbArea, defaultArea);
				}

				function changeProvince() {
					cmbCity.options.length = 0;
					cmbCity.onchange = null;
					if (cmbProvince.selectedIndex == -1) return;
					var item = cmbProvince.options[cmbProvince.selectedIndex].obj;
					for (var i = 0; i < item.cityList.length; i++) {
						cmbAddOption(cmbCity, item.cityList[i].name, item.cityList[i]);
					}
					cmbSelect(cmbCity, defaultCity);
					changeCity();
					cmbCity.onchange = changeCity;
				}
				for (var i = 0; i < provinceList.length; i++) {
					cmbAddOption(cmbProvince, provinceList[i].name, provinceList[i]);
				}
				cmbSelect(cmbProvince, defaultProvince);
				changeProvince();
				cmbProvince.onchange = changeProvince;
			}
			var provinceList = [{
				name: '北京',
				cityList: [{
					name: '市辖区',
					areaList: ['东城区', '西城区', '崇文区', '宣武区', '朝阳区', '丰台区', '石景山区', '海淀区', '门头沟区', '房山区', '通州区', '顺义区', '昌平区', '大兴区', '怀柔区', '平谷区']
				}, {
					name: '县',
					areaList: ['密云县', '延庆县']
				}]
			}, {
				name: '上海',
				cityList: [{
					name: '市辖区',
					areaList: ['黄浦区', '卢湾区', '徐汇区', '长宁区', '静安区', '普陀区', '闸北区', '虹口区', '杨浦区', '闵行区', '宝山区', '金山区', '松江区', '青浦区', '南汇区', '奉贤区']
				}, {
					name: '县',
					areaList: ['崇明县']
				}]
			}];
		</script>

		<div>
			省：
			<select id="cmbProvince"></select>
			市：
			<select id="cmbCity"></select>
			区：
			<select id="cmbArea"></select>
			<br />
			<br /> 省：
			<select id="Select1"></select>
			市：
			<select id="Select2"></select>
			区：
			<select id="Select3"></select>
			<script type="text/javascript">
				addressInit('cmbProvince', 'cmbCity', 'cmbArea', '陕西', '宝鸡市', '金台区');
				addressInit('Select1', 'Select2', 'Select3');
			</script>
		</div>

	</body>

</html>